<div class="container-fliud">
    <!-- Todo: Make these cards -->
    <div class="container">
        <h3>About The Addresses</h3>
        <div class="row">
            <div class="col">Addr 1: GTX 1060 6gb and gtx 1060 3gb</div>
            <div class="col">Addr 2:GTX 1070</div>
            <div class="col">Addr 3: GTX 1050 TI rarely mines</div>
        </div>
    </div>
    <!-- todo: make a contact form on the right side -->
    <div class="row">
        <div class="col">
            <h1>My Bitcoin Address:</h1>12WCh85mGoyb5hW9pd6ppkC2szxHLSLYCM
            <div class="container-fluid">
                <img src="./blockChainaddress.jpg" class="img-fluid" width="200" height="200" alt="">
            </div>
        </div>
        <div class="col">
            <h3>Created by <a href="https://brayanmuniz.com">Brayan Muniz</a></h3>
        </div>
    </div>
</div>