<div class="border-bottom">
  <div class="container-fluid" v-if='$store.state.selectedAddr != null'>

    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex align-items-center mb-2 border-bottom">
              <div>
                <h4 class="card-title mb-0">Current Balance</h4>
                <h5>{{$store.state.selectedAddr.addr}}</h5>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div v-if="dataLoaded">
              <line-chart :width="400" :height="200" :chartData="userData" class="my-1" :options="chartOptions">
              </line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex align-items-center">
              <div>
                <h4 class="card-title mb-0">Mined Algorithims</h4>
              </div>
              <!-- This is the drop down for later when I can configure time -->
              <!-- <div class="ml-auto">
                    <div class="dl">
                      <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                      </select>
                    </div>
                  </div> -->
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-hover my-1">

              <thead>
                <tr class="bg-light">
                  <th class="border-top-0">Algorithim</th>
                  <th class="border-top-0">Balance</th>
                  <th class="border-top-0">Speed</th>
                  <th class="border-top-0">Profitability BTC Day</th>
                  <th class="border-top-0">Profitability USD Day</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="algorithim in profitAlgorithims" :key='algorithim.id'>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="">
                        <h4 class="m-b-0 font-16 ml-1">{{ algorithim.name }}</h4>
                      </div>
                    </div>
                  </td>

                  <td>{{ algorithim.data[1] }}</td>


                  <td v-if="algorithim.data[0].a">{{ algorithim.data[0].a }} {{algorithim.suffix}} </td>
                  <td v-else>0</td>
                  <td> {{ algorithim.profitability }}</td>
                  <!-- Todo: Make this a computed value -->
                  <td> {{ (algorithim.profitability * $store.state.currentBITPriceNum).toFixed(2) }} </td>
                </tr>
              </tbody>

            </table>
          </div>

        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Total Amount</h5>
            <p class="card-text text-right">{{totalProfitBIT}} BTC/Day | {{totalProfitDollars}} USD/Day
          </p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="container-fluid" v-else>
    <h1>Add an Address</h1>
  </div>
  <error v-if="error"> </error>

</div>