<div class="border-bottom">
  <h1 class="h2">Profitability</h1>
  <!-- 
  Follows mining currencies from nicehash
  Profits
  Adjust Electricity Bill Todo Learn how to calculate electricity
  -->
  <!--  -->

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>

  <div v-if="dataLoaded">
    <line-chart :width="400" :height="200" :chartData="userData" :options="chartOptions" class="my-1">
    </line-chart>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-hover my-1">

      <thead>
        <tr>
          <th>Algorithim</th>
          <th>Balance</th>
          <th>Speed</th>
          <!-- <th></th> -->
          <th>Profitability</th>
        </tr>
      </thead>

      <tbody v-for="algorithim in profitAlgorithims" :key='algorithim.id'>
        <tr>
          <td>{{ algorithim.name }}</td>

          <td>{{ algorithim.data[1] }}</td>


          <td v-if="algorithim.data[0].a">{{ algorithim.data[0].a }} {{algorithim.suffix}} </td>
          <td v-else>0</td>
          <!-- <td>{{ algorithim[1].rs }}</td> -->
          <td> {{ algorithim.profitability }} USD/day </td>

        </tr>
      </tbody>
    </table>
  </div>


  <!-- Make a table for Algorithims in the current -->
</div>