<div>
  <!-- https://apexcharts.com/javascript-chart-demos/mixed-charts/line-column-area/ -->
  <input type="text" v-model="userNHAddress" placeholder="Nicehash Address Data">
  <button @click="getNHAddressData">Yo</button>
  <div class="container">
    {{userNHAddressData}}
    <br>
    <h6>B: 3LWh12U6ACgG9j4rq4ExagfMxNR8GgnGs4</h6>
    <h6>E: 3JuqAiWuAma26iYvKjzGCTEHq6A8R4ZusZ</h6>
    <h6>J: 3Ls4oRPWP3rxhPKsWgi4CYaK6E6c8HSekv</h6>
  </div>
  <div class="container-fluid">

    <div class="row">
      <aside-nav class="col-md-2 d-none d-md-block bg-light sidebar"></aside-nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <router-view name="main"></router-view>
        <!-- Data visual comp here -->
      </main>

    </div>

  </div>
</div>