<div>
  <h2>Payments</h2>
  <div class="table-responsive" v-if="userNHAddressData != null">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Time</th>
          <th>Amount</th>
          <th>Fee</th>
        </tr>
      </thead>
      <!-- Can not read .user at render because of some asynchronous loading there is a v-if over this div to prevent that  -->
      <tbody v-for="payment in userNHAddressData.result.payments">
        <tr>
          <td>{{toRelativeTime(payment.time)}}</td>
          <td @click='toggleCurrency(payment.amount)'>{{payment.amount}}</td>
          <td>{{payment.fee}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>