<footer class="footer bg-dark text-white" aria-label="breadcrumb">
  <!-- Todo: Put it in the center -->
  <div class="container bg-dark text-white">
    <ol class="breadcrumb bg-dark text-white mt-0 mb-0">
      <li @click="$store.commit('changeSelectedAddr', address)" class="breadcrumb-item" :class="{'text-primary': address.name == $store.state.selectedAddr.name }"
        v-for="address in $store.state.NHAddresses" :key="address.id">
        {{address.name}}
      </li>
    </ol>
  </div>

</footer>